<script type="text/javascript" src="/assets/js/main.min.js"></script>
<script src="https://cdn.commento.io/js/commento.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="/assets/js/codeblock.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch(
    {
        apiKey: '0fde5d68d961a6950ca2b1d4d99c4f07',
        indexName: 'phalconphp',
        inputSelector: '#docs-search',
        algoliaOptions: {
            'facetFilters': [
                "lang:{{ site.data.supported[page.language]['iso_639_1'] | default: en }}"
            ]
        },
        debug: false // Set debug to true if you want to inspect the dropdown
    }
);
docsearch(
  {
    apiKey: '0fde5d68d961a6950ca2b1d4d99c4f07',
    indexName: 'phalconphp',
    inputSelector: '#docs-search-mobile',
    algoliaOptions: {
      'facetFilters': [
        "lang:{{ site.data.supported[page.language]['iso_639_1'] | default: en }}"
      ]
    },
    debug: false // Set debug to true if you want to inspect the dropdown
  }
);
</script>
