<footer>
    <div class="container">
        <div class="footer-wrapper clearfix">

            <div class="footer-link-container">
                <a class="footer-link" href="/">
                    <img class="footer-logo-img" src="/assets/images/footer_logo.svg" alt="logo">
                </a>
                <a class="footer-link" href="https://phalcon.link/about" target="_blank">
                    {{ homeStrings['about'] }}
                </a>
                <a class="footer-link" href="https://phalcon.link/sponsors" target="_blank">
                    {{ homeStrings['sponsors'] }}
                </a>
                <a class="footer-link" href="https://phalcon.link/fund" target="_blank">
                    {{ homeStrings['support_us'] }}
                </a>
                <a class="footer-link" href="https://phalcon.link/download" target="_blank">
                    {{ homeStrings['download'] }}
                </a>
                <a class="footer-link" href="https://license.phalconphp.com/" target="_blank">
                    {{ homeStrings['license'] }} New BSD
                </a>
            </div>

            <div class="footer-copyright">
                <a href="https://odva.pro/" target="_blank" class="o2-link">
                    <span>{{ homeStrings['development'] }}</span> <img src="/assets/images/logo-o2.svg" alt="logo o2">
                </a>
            </div>
        </div>
    </div>
</footer>
