    <header class="header-image-doc">
        <div class="container">
            <div class="header-wrapper">
                <div class="clearfix">
                    <div class="row">
                        <div class="col-md-2 col-sm-3  col-xs-8">
                            <div class="header-image__logo-wrapper">
                                <a href="/{{ page.version }}/{{ page.language }}">
                                    <img class="logo-img" src="/assets/images/header_logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 top-menu">

                            <div class="nav-icon" onclick="o2.showMobileMenu();">
                                <div class="nav-line"></div>
                                <div class="nav-line"></div>
                                <div class="nav-line"></div>
                            </div>
                            <nav class="header-nav">
                                <ul>
{% include language-selector.html %}
{% include version-selector.html %}
                                    <li class="nav-item" onclick="o2.toggleState(this, event);">
                                        <div class="nav-item_selected">
                                            {{ homeStrings['community'] }}
                                            <span class="caret"></span>
                                        </div>
                                        <div class="nav-item__list">
                                            <a href="https://phalcon.link/forum" class="custom-select__list-item" target="_blank">
                                                {{ homeStrings['forum'] }}
                                            </a>
                                            <a href="https://phalcon.link/blog" class="custom-select__list-item" target="_blank">
                                                {{ homeStrings['blog'] }}
                                            </a>
                                            <a href="https://phalcon.link/resources" class="custom-select__list-item" target="_blank">
                                                {{ homeStrings['resources'] }}
                                            </a>
                                            <div class="nav-item__divider"></div>
                                            <a href="https://phalcon.link/facebook" class="custom-select__list-item" target="_blank">
                                                {{ homeStrings['facebook'] }}
                                            </a>
                                            <a href="https://phalcon.link/twitter" class="custom-select__list-item" target="_blank">
                                                {{ homeStrings['twitter'] }}
                                            </a>
                                            <a href="https://phalcon.link/gab" class="custom-select__list-item" target="_blank">
                                                {{ homeStrings['gab'] }}
                                            </a>
                                            <a href="https://phalcon.link/discord" class="custom-select__list-item" target="_blank">
                                              {{ homeStrings['discord'] }}
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://phalcon.link/about">
                                            {{ homeStrings['about'] }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://phalcon.link/sponsors">
                                            {{ homeStrings['sponsors'] }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://phalcon.link/fund">
                                            {{ homeStrings['support_us'] }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://phalcon.link/download">
                                            {{ homeStrings['download'] }}
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="header-nav-mobile">
                            <div>
{% include language-selector-mobile.html %}
                            </div>
                            <div>
{% include version-selector-mobile.html %}
                            </div>
                            <div>
                                <div class="nav-item nav-item-accordion" onclick="o2.topicsAccordion(this, event)">
                                    {{ homeStrings[4] }}
                                    <span class="caret"></span>
                                </div>
                                <ul style="display:none;">
                                    <li class="nav-item nav-item-li">
                                        <a href="https://phalcon.link/forum" target="_blank">
                                            {{ homeStrings['forum'] }}
                                        </a>
                                    </li>
                                    <li class="nav-item nav-item-li">
                                        <a href="https://phalcon.link/blog" target="_blank">
                                            {{ homeStrings['blog'] }}
                                        </a>
                                    </li>
                                    <li class="nav-item nav-item-li">
                                        <a href="https://phalcon.link/resources" target="_blank">
                                            {{ homeStrings['resources'] }}
                                        </a>
                                    </li>
                                    <li class="nav-item nav-item-li">
                                        <a href="https://phalcon.link/f" target="_blank">
                                            {{ homeStrings['facebook'] }}
                                        </a>
                                    </li>
                                    <li class="nav-item nav-item-li">
                                        <a href="https://phalcon.link/t" target="_blank">
                                            {{ homeStrings['twitter'] }}
                                        </a>
                                    </li>
                                    <li class="nav-item nav-item-li">
                                        <a href="https://phalcon.link/gab" target="_blank">
                                            {{ homeStrings['gab'] }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav-item">
                                <a href="https://phalcon.link/about">
                                    {{ homeStrings['about'] }}
                                </a>
                            </div>
                            <div class="nav-item">
                                <a href="https://phalcon.link/sponsors">
                                    {{ homeStrings['sponsors'] }}
                                </a>
                            </div>
                            <div class="nav-item">
                                <a href="https://phalcon.link/fund">
                                    {{ homeStrings['support_us'] }}
                                </a>
                            </div>
                            <div class="nav-item">
                                <a href="https://phalcon.link/download">
                                    {{ homeStrings['download'] }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
