    <header class="header-image">
        <div class="container">
            <div class="header-wrapper">
                <div class="clearfix">
{% include header_nav.html %}
                </div>
                <div class="header-description" itemscope itemtype="https://schema.org/Thing">
                    <h1 class="h1_style" itemprop="description">
                        <span itemprop="name">Phalcon</span> {{ homeStrings['feature_rich'] }}
                    </h1>
                    <p>
                        {{ homeStrings['innovative_architecture'] }}
                    </p>
                    <div class="header-search">
                        {{ include cse-inner.html }}
                    </div>
                    <a href="https://phalcon.link/github" class="link__github" target="_blank">
                        {{ homeStrings['github'] }}
                        <div class="link__circle-arrow">
                            <div class="link__arrow"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
