<script src="/assets/js/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="/assets/js/codeblock.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>

docsearch({
    container: '#docs-search',
    appId: '{{ site.app.algolia.appId }}',
    indexName: '{{ site.app.algolia.indexName }}',
    apiKey: '{{ site.app.algolia.apiKey }}',
    searchParameters: {
        facetFilters: [
            'language:{{ site.data.supported[pageLanguage]["iso_639_1"] | default: en }}',
            'version:{{ pageVersion }}'
        ],
    },
    debug: false // Set debug to true if you want to inspect the dropdown
});
docsearch({
    container: '#docs-search-mobile',
    appId: '{{ site.app.algolia.appId }}',
    indexName: '{{ site.app.algolia.indexName }}',
    apiKey: '{{ site.app.algolia.apiKey }}',
    searchParameters: {
        facetFilters: [
            'language:{{ site.data.supported[pageLanguage]["iso_639_1"] | default: en }}',
            'version:{{ pageVersion }}'
        ],
    },
    debug: false // Set debug to true if you want to inspect the dropdown
});
</script>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' 
    data-cf-beacon='{"token": "045e1620ddc443a0bd6c464078bac76e"}'>
</script>
<!-- End Cloudflare Web Analytics -->

<!-- {{ pageLanguage }} -->
<!-- {{ site.data.supported[pageLanguage]["iso_639_1"] }} -->
<!-- {{ pageVersion }} -->
