                                    <li class="nav-item" onclick="o2.toggleState(this, event);">
                                        <div class="nav-item_selected">
                                            <img class="lang-image"
                                                 src="/assets/images/flags/{{ site.data.supported[page.language].crowdin_code }}.png"
                                                 alt="{{ site.data.supported[lang].name | strip }}">
                                            <span class="caret"></span>
                                        </div>
                                        <div class="nav-item__list" onclick="event.stopPropagation();">
                                            {% assign current = '/' | append: page.language | append: '/' %}
                                            {% for lang in site.data.verlang.languages[page.version] %}
                                                {% assign new = '/' | append: lang | append: '/' %}
                                                <a href="{{ page.url | replace: current, new }}" class="custom-select__list-item" rel="alternate" hreflang="{{ lang }}">
                                                    <img class="lang-image"
                                                         src="/assets/images/flags/{{ site.data.supported[lang].crowdin_code }}.png"
                                                         alt="{{ site.data.supported[lang].name | strip }}">
                                                    {{ site.data.supported[lang].name | strip }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </li>
