{% if page.version == '4.0' %}
<div class="topic-search">
    <div class="alert alert-info text-center">
        {% if page.upgrade %}
        <a href="/{{ page.version }}/{{ page.language }}/upgrade{{ page.upgrade }}">
            <strong>Upgrade Instructions</strong>
        </a>
        <br>
        {% endif %}
        {% if page.language != 'en' %}
        <a href="https://github.com/phalcon/docs/tree/4.0/en">
            <strong>{{ homeStrings['edit_on_crowdin'] }}</strong>
        </a>
        {% else %}
        <a href="https://crowdin.com/project/phalcon-documentation/{{ site.data.supported[page.language]['iso_639_1'] }}">
            <strong>{{ homeStrings['edit_on_github'] }}</strong>
        </a>
        {% endif %}
    </div>
</div>
{% endif %}
