                {%- for topic in site.data[topicsKey] -%}
                <div class="documentation-nav-item">
                    <a href="javascript:void(0)"
                       onclick="o2.documentation.toggleSublist(this)"
                       class="documentation-nav-item__label">
                        <span class="documentation-nav-item__label-icon">
                            <svg width="5" height="7" viewBox="0 0 5 7" xmlns="http://www.w3.org/2000/svg" fill="#273646" fill-opacity=".4"><path d="M4.9303 3.3627L.253.0293A.1576.1576 0 0 0 .0863.019.1673.1673 0 0 0 0 .1665v6.6668c0 .062.0332.1189.0863.1477A.1583.1583 0 0 0 .1613 7c.032 0 .064-.01.0916-.0295L4.9303 3.637A.168.168 0 0 0 5 3.4999a.1685.1685 0 0 0-.0697-.1372z"/></svg>
                        </span>
                        {{- topic.text -}}
                    </a>
                    <div class="documentation-nav-item__sublist">
                        {%- for item in topic.menu -%}
                        <div class="documentation-nav-item__sublist-item">
                            <a href="{%- if item.external -%}{{ item.url }}{%- else -%}/{{ page.version }}/{{ page.language }}{{ item.url }}{%- endif -%}"
                               class="documentation-nav-item__sublist-link">
                                {{- item.text -}}
                            </a>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
                {%- endfor -%}
