                {%- if page.version == '4.0' -%}
                {%- if page.upgrade -%}
                <div class="documentation-nav-item">
                    <a class="documentation-nav-item__label"
                       href="/{{ page.version }}/{{ page.language }}/upgrade{{ page.upgrade }}">
                        <strong>Upgrade Instructions</strong>
                    </a>
                </div>
                {% endif %}
                {% endif %}
                <div class="documentation-nav-item">
                    {% if page.language != 'en' %}
                    <a class="documentation-nav-item__label"
                       href="https://crowdin.com/project/phalcon-documentation/{{ site.data.supported[page.language]['iso_639_1'] }}">
                        <strong>{{ homeStrings['edit_on_crowdin'] }}</strong>
                    </a>
                    {% else %}
                    {% assign current = '/' | append: page.version | append: '/' | append: page.language | append: '/' %}
                    {% assign suffix  = page.url | replace: current, '' | replace: '.html', '.md' %}
                    <a class="documentation-nav-item__label"
                       href="https://github.com/phalcon/docs/tree/4.0/en/{{ suffix }}">
                        <strong>{{ homeStrings['edit_on_github'] }}</strong>
                    </a>
                    {% endif %}
                </div>
