<div class="topic-categories">
    {% for topic in site.data[topicsKey] %}
    <div class="topic-categories-item">
        <div class="category-name" onclick="o2.topicsAccordion(this, event)">
            <span>{{ topic.text }}</span>
        </div>
        <ul style="display: none;">
            {% for item in topic.menu %}
            <li>
                {% if item.external %}
                <a href="{{ item.url }}">
                {% else %}
                <a href="/{{ page.version }}/{{ page.language }}{{ item.url }}">    
                {% endif %}
                <span>{{ item.text }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
