                                <div class="nav-item nav-item-accordion" onclick="o2.topicsAccordion(this,event)">
                                    {{ homeStrings['version'] }} {{ page.version }}
                                    <span class="caret"></span>
                                </div>

                                <ul style="display:none;" class="clearfix" onclick="event.stopPropagation();">
                                    {% assign current = '/' | append: page.version | append: '/' %}
                                    {% for version in site.data.verlang.versions %}
                                    {% assign new = '/' | append: version | append: '/' %}
                                    <li class="nav-item nav-item-li col-xs-12">
                                        <a href="{{ page.url | replace: current, new }}">
                                            <span>{{ version }}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
