.lang-image {
    height: 20px;
    width: 20px;
}

.phalcon-blog-detail code.hljs {
    float: left;
}

.header-nav--mobile .extendable a:after{
  content: url(https://assets.phalcon.io/phalcon/images/svg/arrow.svg);
  margin-left: 5px;
}

.header-nav--mobile .header-dropdown--mobile a:after {
  display: none;
}

.mobile-menu-page-version:after {
  content: url(https://assets.phalcon.io/phalcon/images/svg/arrow.svg);
  margin-left: 5px;
}

.mobile-menu-page-lang:after{
  content: url(https://assets.phalcon.io/phalcon/images/svg/arrow.svg);
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
}

.header-nav--mobile .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  min-width: 100%;
}

.phalcon-blog__sponsors-items img {
  margin-bottom: 0;
}

.phalcon-blog__sponsors-items a:hover {
  border-bottom-color: #273646;
}

.phalcon-blog-detail a {
  border-bottom: 1px solid rgba(39, 54, 70, 0.4);
  word-break: break-all;
  word-break: break-word;
}
/** show pointer for clickable headers **/
.phalcon-blog_documentation h1,
.phalcon-blog_documentation h2,
.phalcon-blog_documentation h3,
.phalcon-blog_documentation h4 {
  cursor: pointer;
}

.btnClipboard {
  float: right;
  position: absolute;
  background-color: transparent;
  color: #fff;
  padding: 11px 8px;
  right: 2px;
  margin-top: 2px;
  border: 0;
  font-size: 12px;
}

.btnClipboard .btnIcon__body svg {
  display: none
}
