.lang-image {
    height: 20px;
    width: 20px;
}
.btnClipboard {
    float: right;
    position: absolute;
    background-color: transparent;
    color: #fff;
    padding: 11px 8px;
    right: 2px;
    margin-top: 2px;
    border: 0;
    font-size: 12px;
}

.btnClipboard .btnIcon__body svg
{
    display: none
}

.phalcon-blog-detail code.hljs {
    float: left;
}


/*google search*/

.gsc-search-box-tools .gsc-search-box .gsc-input::placeholder {
  font-size: 16px !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding: 5px !important;
}

.gsc-control-cse,
.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding: 0 !important;
  border: none !important;
}

table.gsc-search-box {
  margin: 0 !important;
  display: block !important;
}

.gsc-search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
  padding: 0;
  min-width: 88px !important;
  border: none !important;
}

.gsib_a {
  padding-right: 100px !important;
  border: none !important;
}

.gsib_b {
  display: none !important;
}


