.lang-image {
    height: 20px;
    width: 20px;
}
.btnClipboard {
    float: right;
    position: absolute;
    background-color: transparent;
    color: #fff;
    padding: 11px 8px;
    right: 2px;
    margin-top: 2px;
    border: 0;
    font-size: 12px;
}

.btnClipboard .btnIcon__body svg
{
    display: none
}

.phalcon-blog-detail code.hljs {
    float: left;
}

.header-nav--mobile .extendable a:after{
  content: url(https://assets.phalconphp.com/phalcon/images/svg/arrow.svg);
  margin-left: 5px;
}

.header-nav--mobile .header-dropdown--mobile a:after {
  display: none;
}

.mobile-menu-page-version:after {
  content: url(https://assets.phalconphp.com/phalcon/images/svg/arrow.svg);
  margin-left: 5px;
}

.mobile-menu-page-lang:after{
  content: url(https://assets.phalconphp.com/phalcon/images/svg/arrow.svg);
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
}

/*algolia mobile search*/

.header-nav--mobile .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  min-width: 100%;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-small {
  font-size: 14px;
  line-height: 16px;
  padding: 10px 15px;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.phalcon-blog__sponsors-items img {
  margin-bottom: 0;
}

.phalcon-blog__sponsors-items a:hover {
  border-bottom-color: #273646;
}

.phalcon-blog-detail a {
  border-bottom: 1px solid rgba(39, 54, 70, 0.4);
}