---
layout: default
---
{% include env-setup.html %}

{% include header.html %}

<div class="container-fluid article-page-wrap">
    <div class="row">
        <div>
            <div class="col-md-2 sidebar hidden-xs">
                <div class="sidebar--spacer">&nbsp;</div>
            </div>
            <div class="m-t-md m-b-lg" id="articles">
                <div class="article-content">
                    <section class="documentation-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-lg-9 parse-content docSearch-content">
                                    <div>
                                        {{ content }}
                                    </div>
                                    {% if page.version == '4.0' and page.category %}
                                    <div>
                                        <div class="row">
                                            {% assign elements = site.data[articlesKey][page.category] %}
                                            {% for menu in elements %}
                                                {% assign matchScript = script | prepend: '/' %}
                                                {% if matchScript == menu.url %}
                                                    {% if forloop.first != true %}
                                                    {% assign previous = forloop.index | minus: 2 %}
                                            <div class="col">
                                                <a class="article-content-edit-link right"
                                                   href="/{{ page.version }}/{{ page.language }}{{ elements[previous]['url'] }}">
                                                    {{ elements[previous]['text'] }}
                                                </a>
                                            </div>
                                                    {% endif %}
                                                    {% if forloop.last != true %}
                                            <div class="col">
                                                <a class="article-content-edit-link right"
                                                   href="/{{ page.version }}/{{ page.language }}{{ elements[forloop.index]['url'] }}">
                                                    {{ elements[forloop.index]['text'] }}
                                                </a>
                                            </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-4 col-lg-3 col-sm-12 support-column-margin">
                                    <!--{ include sidebar-search.html }-->
                                    {% include sidebar-links.html %}
                                    {% include sidebar-topics.html %}
                                    {% include sidebar-articles.html %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">left</div>
                                <div class="col-md-6 text-right">right</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
