---
layout: default
---
{% include env-setup.html %}

{% include header.html %}

<div class="container-fluid article-page-wrap">
    <div class="row">
        <div>
            <div class="col-md-2 sidebar hidden-xs">
                <div class="sidebar--spacer">&nbsp;</div>
            </div>
            <div class="m-t-md m-b-lg" id="articles">
                <div class="article-content">
                    <section class="documentation-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-lg-9 parse-content docSearch-content">
                                    {{ content }}
                                    <div class="row">
                                        {% assign previousText = '' %}
                                        {% assign previousUrl = '' %}
                                        {% assign nextText = '' %}
                                        {% assign nextUrl = '' %}
                                        {% if page.version == '4.0' and page.category %}
                                            {% assign elements = site.data[articlesKey][page.category] %}
                                            {% for menu in elements %}
                                                {% assign matchScript = script | prepend: '/' %}
                                                {% if matchScript == menu.url %}
                                                    {% if forloop.first != true %}
                                                        {% assign previous = forloop.index | minus: 2 %}
                                                        {% assign previousText = elements[previous]['text'] %}
                                                        {% assign previousUrl = elements[previous]['url'] %}
                                                    {% endif %}

                                                    {% if forloop.last != true %}
                                                        {% assign nextText = elements[forloop.index]['text'] %}
                                                        {% assign nextUrl = elements[forloop.index]['url'] %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="col-md-6">
                                            {% if previousText != "" %}
                                            <a href="/{{ page.version }}/{{ page.language }}{{ previousUrl }}">
                                                <span class="btn btn-primary">
                                                    {{ previousText }}
                                                </span>
                                            </a>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 text-right">
                                            {% if nextText != "" %}
                                            <a href="/{{ page.version }}/{{ page.language }}{{ nextUrl }}">
                                                <span class="btn btn-primary">
                                                    {{ nextText }}
                                                </span>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-sm-12 support-column-margin">
                                    <!--{ include sidebar-search.html }-->
                                    {% include sidebar-links.html %}
                                    {% include sidebar-topics.html %}
                                    {% include sidebar-articles.html %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
