<!doctype html>{% include fanart.html %}

{%- include env-setup.html -%}
<html lang="{{ pageLanguage }}">
{% include head.html %}

<body>
{% include header.html %}

<div class="phalcon-blog phalcon-blog_documentation">
    <div class="doc-article-nav-wr">
        <div class="doc-article-nav-items">
            <div class="doc-article-nav-markers"></div>
            <div class="doc-article-nav-list">
                <div href="#" class="doc-article-nav-list-label">
                   {{ homeStrings['sections'] }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="phalcon-blog__main">
            <div class="phalcon-blog-detail phalcon-blog-detail_documetation">
                <div class="docSearch-content">
                    {{- content -}}
                </div>
            </div>
        </div>

        <div class="phalcon-blog__right documentation-nav-wr">
            <div class="phalcon-blog__right-item documentation-nav">
                {%- include sidebar-links.html -%}
                {%- include sidebar-topics.html -%}
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
{% include js.html %}
</body>
</html>
