<!doctype html>
<!--[if IE 8]>
<html lang="{{ page.language | default: en }}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="{{ page.language | default: en }}" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ page.language | default: en }}" class="no-js">
<!--<![endif]-->
{% include env_setup.html %}
{% include head.html %}

<body onclick="o2.allNavSlideUp()">
{% include header.html %}

    <div class="container-fluid article-page-wrap">
        <div class="row">
            <div>
                <div class="col-md-2 sidebar hidden-xs">
                    <div class="sidebar--spacer">&nbsp;</div>
                </div>
                <div class="m-t-md m-b-lg" id="articles">
                    <div class="article-content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include footer.html %}
{% include footer_js.html %}
<script type="application/javascript">hljs.initHighlightingOnLoad();</script>
</body>
</html>
